<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Database of Secrets</title>
    </head>


    <body>
		<h1>Database of Secrets</h1>

        <form action='/logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
        
        <h2>Add a new secret</h2>

        <form action='/secflaws/add/' method="POST">
            {% csrf_token %}

			<input type="text" name="secret"/><br/>
            <input type="submit" value="Send"/>
        </form>
        
        <h2>List of your secrets</h2>

        {% if secret_list %}
        <ul>
            {% for secret in secret_list %}
                <li>{{ secret.secret }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No secrets are available.</p>
        {% endif %}

    </body>
</html>


